<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <script src='js/leaflet.ajax.min.js'></script>
    <link href='css/style.css' rel='stylesheet' /> 
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' /> 
    <link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css' rel='stylesheet' /> 

</head>

<body>

    {{{body}}}

<script>
//mapboxgl.accessToken = 'pk.eyJ1IjoiYWx2YXJvYnVlbm8iLCJhIjoiY2pvMWxlYXZhMGJzZzNxa3U4Z2JyMHo3NSJ9.OjR7xwv7mOYZShA59Suykg';
//var map = new mapboxgl.Map({
//    container: 'map', // container id
//    style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
//    center: [-76.638565,  3.359889], // starting position [lng, lat]
//    zoom: 13 // starting zoom
//});
var map = L.map('map').setView([-76.638565, 3.359889], 13);
var mapboxUrl = 'https://api.mapbox.com/styles/v1/mapbox/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}'
var accessToken = 'pk.eyJ1IjoiYWx2YXJvYnVlbm8iLCJhIjoiY2pvMWxlYXZhMGJzZzNxa3U4Z2JyMHo3NSJ9.OjR7xwv7mOYZShA59Suykg';

L.tileLayer(mapboxUrl, {
    id: 'streets-v10',
    maxZoom: 20,
    accessToken: accessToken,
    attribution: '&copy; <a href="https://www.mapbox.com">Mapbox</a>'
}).addTo(map);

//L.marker([51.5, -0.09]).addTo(map)
  //  .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
  //  .openPopup();

var geojsonLayer = new L.GeoJSON.AJAX("comunas-cali.geojson");       
geojsonLayer.addTo(map);

map.panTo(new L.LatLng(3.359889, -76.638565));



</script>
</body>
</html>